* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f7fc;
  color: #333;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* .hero {
  background-color: #4CAF50;
  color: white;
  padding: 50px 0;
} */

.hero h1 {
  font-size: 3rem;
}

.feature {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.feature div {
  width: 30%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
}

.contact-form {
  background-color: #333;
  color: white;
  padding: 50px 0;
}

.contact-form form {
  max-width: 600px;
  margin: 0 auto;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
